//- body.jade
//- This file provides the HTML body part.


body
  table
    tr
      td(style= "width:30%;" )
        img(src="/images/newapp-icon.png")
      td
        h2 Bluemix Backend
        h1 Mobile Bluemix Demo
        p
        p
        p Thanks for creating the <span class = "blue">NodeJS Application Backend</span>.
        p
        p Available APIs:
        p <a href = "/getDemo">Get JSON Demo</a> 
        p <a href = "/getWatsonDilemma">Get Watson Tradeoff Dilemma</a>
        p <a href = "/getWatsonSolution">Get Watson Tradeoff Solution</a> 
        p <a href = "/getList">Get List of Authors</a> 
        p <a href = "/ping">Check ping</a> 
        p <BR>
        p <a href = " http://noderedprod.mydemo.center">NodeRed Console</a> 
       